.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: black;
}

.title {
  font-size: 2rem;
  margin-top: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.wa {
  border-radius: 8px;
  padding: 1rem 2rem;
  background-color: #009688;
}

.shopee {
  border-radius: 8px;
  padding: 1rem 2rem;
  background: linear-gradient(-180deg,#f53d2d,#f63);
}

.line {
  border-radius: 8px;
  padding: 1rem 2rem;
  background-color: #00B900;
}

